body {
  color: rgb(122, 134, 133);
  background-color: rgb(219, 235, 212);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}

button {
  margin-top: 15px;
  font-size: 18px;
  background-color: rgba(35, 205, 180, 0.33);
}

h1 {
  text-align: center;
  font-size: 60px;
}

h2 {
  color: rgb(80, 101, 133);
}

h5 {
  color: rgb(156, 217, 189)
}

p {
  font-style: italic;
}

.info {
  text-align: right;
}

.form-control {
  background-color: rgba(255, 251, 194, 0.81);
  font-size: 20px;
  color: rgb(122, 134, 133);
}

.jumbotron {
  margin-left: 10%;
  margin-right: 10%;
}

#title {
  text-align: center;
}

#generated {
  display: none;
}
